/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 		html{
			display: table;
			margin: auto;
		}
		body{
			vertical-align: middle;
			display: table-cell;
			}

 .jumbotron{
 	min-height: 500px;
 	margin-top: 40px;
 }
.container h1{
	font-size: 3em;
	padding-top: 100px;
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container p{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formTable{
	padding-top: 50px;
}

.question{
	
}
.question p{
	width: 100%;
	padding: 5px;
}

.tick{
	max-width: 20px;
	max-height: 20px;
}

.jumbotron{
	background-repeat: no-repeat;
}


#listOfLangs{
	margin-top: 20px;
	width: 1000px;
	min-height: 200px;
	position: relative;
	background-image: url("../img/prog-languages.png");
}

.col-md-4 {
	margin-bottom: 50px;
	min-height: 450px;
	border-right: 1px solid black; 
	padding: 0;

}

.col-md-4 .pLang{
	margin: 10px 0 10px 5px;
	text-decoration: underline;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#setOfLangs p{
	float: left;
	padding: 10px;
	margin: 5px;
	border: 5px solid red;
	text-align: center;
	font-size: 1.8em;
	font-weight: 900;
	float: left;



}
#setOfLangs{
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
    width: 5%;
}

#setOfLangs p:not(:first-child){
	display: none;
}


#bot_info{
	text-align:center;
	width: 101%;
	font-size: 1em;
	font-size:1em;
	border-top: 2px solid green;
	
}

.colOfLangs{
	border-top: 1px solid black;
	border-bottom: 1px solid green;
	text-align: center;
	color: #782EE6;
	font-size: 1.5em;
}
