

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 		html{
			display: table;
			margin: auto;
		}
		body{
			vertical-align: middle;
			display: table-cell;
			}

 .jumbotron{
 	min-height: 500px;
 	margin-top: 40px;
 }
.container h1{
	font-size: 3em;
	padding-top: 100px;
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container p{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formTable{
	padding-top: 50px;
}

.question{
	
}
.question p{
	width: 100%;
	padding: 5px;
}

.greenTick{
	max-width: 20px;
	height: 20px;
}
