

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 .jumbotron{
 	min-height: 500px;
 }
.container h1{
	font-size: 3em;
	padding-top: 100px;
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container p{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
















